summary {
    list-style: none;
}
summary::-webkit-details-marker {display: none; }

details  {
    font-weight: 500;
}


details summary::before { 
  content:"🡒"; 
  color: red; 
  /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before { 
  content:"🡑"; 
  color: red 
}
